.sidebar {
  padding: 0 20px;
}

.main-scroll {
  height: 94vh;
  overflow: auto;
}

.btn-left {
  width: 80px;
  border-radius: 30px 0 0 30px !important;
}

.btn-right {
  width: 80px;
  border-radius: 0 30px 30px 0 !important;
}

.sidenav-item {
  margin: 20px;
}

.flex {
  display: flex;
  justify-content: center;
}

.checkbox {
  padding: 6px;
}

.box-shadow {
  box-shadow: 2px 2px 2px lightgray;
}

.mb0 {
  margin-bottom: 0 !important;
}
